<!doctype html>
<html>
  <head>
    <title>Saucey Sauces - :(</title>
  </head>
  <body>
    <h1>NO SAUCE!</h1>
    <img src="https://c1.staticflickr.com/4/3675/9436653177_fd00cc9d2c_b.jpg" style="max-width: 400px;" alt="Sad face" />
    <br />
    <a href="/sauces" title="Back to index">Back to index</a>
  </body>
</html>
